<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>자동차 거래</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	</head>
	<body>
		<br><br><br>

		<div id="main">
			<div class="inner">
				<div class="row gtr-200">
					<div class="col-6">
						<h2>Identity </h2>
						<form method="get" action="enrollAdmin">
							<button type="submit" class="primary" onclick="">enroll admin</button>
						</form>
						<h4>Name  :  <a id="name"><%= name %></a></h4>
						<form method="post" action="registerUser">
							<h4>change user</h4>
							<input type="text" name="user" id="user" value="" placeholder="Enter user name" /><br>
							<button type="submit" class="primary" onclick="">change user</button>
						</form>
					</div>
				</div>
				<hr class="major">

				<div class="row gtr-200">
					<div class ="col-6 col-12-medium">
						<h2>Register My Car</h2>
						<form method="post" action="registerMyCar">
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<h4>make</h4>
									<input type="text" name="make" id="make" value="" placeholder="make" /><br>
									<h4>model</h4>
									<input type="text" name="model" id="model" value="" placeholder="model" /><br>
									<h4>color</h4>
									<input type="text" name="color" id="color" value="" placeholder="color" /><br>
								</div>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><button id="submit" class="primary" onclick="" />register</li>
									<li><input type="reset" value="reset" /></li>
								</ul>
							</div>
						</form>
					</div>

					<div class ="col-6 col-12-medium">
						<h2>My Cars</h2>
						<table>
							<thead>
								<tr>
									<th>Owner</th>
									<th>Make</th>
									<th>Model</th>
									<th>Color</th>
								</tr>
							</thead>
							<tbody id="myCars">
								<%if(myCar != null){ %>
								<tr>
									<td> <%= myCar.owner %>   </td>
									<td> <%= myCar.make %>   </td>
									<td> <%= myCar.model %>   </td>
									<td> <%= myCar.color %>   </td>

								</tr>	
								<% } %>
							</tbody>
						</table>
					</div>

					<div class ="col-6 col-12-medium">
						<h2>Sell My Car</h2>
						<form method="post" action="sellMyCar">
							<div class="row gtr-uniform">
								<div class="col-12">
									<select name="demo-category" id="mycars-category">
										<% if(myCar !=null &&myCar.sale != "sale") { %>
										<option value = <%= myCar.owner %>  >
											<%= myCar.make %> <%= myCar.model %> <%= myCar.color %>
										</option>


										<% } %>
									</select>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Sell" class="primary" onclick="" /></li>
										<li><input type="reset" value="reset" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>


					<div class ="col-6 col-12-medium">
						<h2>Buy Users Car</h2>
						<form method="post" action="buyUserCar">
							<div class="row gtr-uniform">
								<div class="col-12">
									<select name="demo-category" id="sale-category">
									<% if(orderedCar != null) {
										for(var i = 0; i< Object.keys(registeredCar).length;i++) { if(registeredCar[i].owner == name || registeredCar[i].sale !="sale"){continue;} %>
									<option value = <%= registeredCar[i].owner %> >
										<%= registeredCar[i].make %>, <%= registeredCar[i].model %> , <%= registeredCar[i].color %>
									</option>
																		
									


									<%} } %>
									</select>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Buy" class="primary" onclick=""/></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>

				</div>

				<hr class="major">

				<div class="row gtr-200">
					<div class ="col-6 col-12-medium">
						<h3>registered cars</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Owner</th>
										<th>Make</th>
										<th>Model</th>
										<th>Color</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody id="registeredCars">
								<% if(registeredCar != null) {
									for(var i = 0; i< Object.keys(registeredCar).length;i++) { %>
								<tr>
									<td> <%= registeredCar[i].owner %>   </td>
									<td> <%= registeredCar[i].make %>   </td>
									<td> <%= registeredCar[i].model %>   </td>
									<td> <%= registeredCar[i].color %>   </td>
									<td> <%= registeredCar[i].sale %>   </td>

								</tr>	
								<%} } %>
								</tbody>
							</table>
						</div>
					</div>

					<div class ="col-6 col-12-medium">
						<h3>cars on sale</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Owner</th>
										<th>Make</th>
										<th>Model</th>
										<th>Color</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody id="carsOnSale">
								<% if(orderedCar != null) {
									for(var i = 0; i< Object.keys(orderedCar).length;i++) { %>
								<tr>
									<td> <%= orderedCar[i].owner %>   </td>
									<td> <%= orderedCar[i].make %>   </td>
									<td> <%= orderedCar[i].model %>   </td>
									<td> <%= orderedCar[i].color %>   </td>
									<td> <%= orderedCar[i].sale %>   </td>

								</tr>	
								<%} } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
